nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(150deg, #0f3138, #334347);
  padding: 3vh 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 2vmin;
}

nav .logo {
  color: white;
  font-size: 4vmin;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 2vw;
  display: flex;
  align-items: center;
}

nav .logo img {
  height: auto;
  width: 25vh;
  max-width: 100%;
  max-height: 8vh;
  border-radius: 100px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: right;
  flex-grow: 1;
}

nav ul li {
  margin: 0 2vw;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1vmin 2vw;
  border-radius: 100px;
  font-size: 3vmin;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover,
nav a.active {
  background-color: #14db88;
  color: #333;
  font-weight: bold;
}

/* Aggiungi questa parte al tuo CSS per nascondere l'icona sui dispositivi più grandi */
.menu-icon {
  display: none; /* Nasconde l'icona su schermi più grandi */
}

/* Media query per schermi più piccoli */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav .logo {
    /*margin-bottom: 2vh;*/
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none; /* Nascondi i link per default */
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  nav ul.show {
    display: flex;
    opacity: 1;
  }

  nav ul li {
    margin: 1vh 0;
  }

  nav a {
    font-size: 4vmin;
  }

  /* Mostra l'icona del menu sui dispositivi piccoli */
  .menu-icon {
    display: block; /* Rende visibile l'icona */
    font-size: 5vmin; /* Modifica qui la dimensione */
    cursor: pointer;
    color: white;
  }

  .menu-icon.open {
    color: #14db88; /* Colore quando il menu è aperto */
  }
}

@media (max-width: 480px) {
  nav {
  }

  nav .logo {
    font-size: 5vmin;
  }

  nav a {
    font-size: 5vmin;
  }

  /* Puoi anche modificare qui la dimensione per schermi molto piccoli */
  .menu-icon {
    font-size: 9vmin; /* Modifica la dimensione per schermi molto piccoli */
  }
}
