.App {
  width: 100%;  /* Usa il 100% della larghezza disponibile */
  height: 100vh; /* Imposta l'altezza al 100% della viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  width: 100%;  /* La larghezza si adatta automaticamente alla larghezza del contenitore */
  height: 100%; /* L'altezza del contenitore sarà il 100% dell'altezza della pagina */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2rem + 5vw); /* Ottimizza la dimensione del testo in base alla larghezza dello schermo */
  color: white;
  padding: 20px; /* Aggiungi un po' di spazio intorno per migliorare la leggibilità */
}

.Routes-container {
  width: 100%;
  height: calc(100vh - 10vh); /* L'altezza totale meno l'altezza della navbar */
  margin-top: 6vh; /* Aggiungi un margine pari all'altezza della navbar per non sovrapporsi */
  overflow-y: auto;  /* Consente lo scroll verticale se necessario */
}


.App-link {
  color: #61dafb;
  text-decoration: none; /* Rimuove la sottolineatura predefinita */
  font-size: 1.2rem; /* Imposta una dimensione del font relativa */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
